*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background-color: brown; 
    flex-wrap: wrap;
    margin-top: 30%;
    justify-content: end;
}

.box{
    height: 100px;
    flex-basis: 150px;
}

.one{
    background: red;
}

.two{
    background: blue;
}

.three{
    background: green;
}